body {
    background-color: black;
    
  }
  .card{
    display: inline-block;
    margin-right: 3.5%;
    margin-bottom:2% ;
  }
h2{
  color: aliceblue;
}
.card:hover{
  color: darkgray;

}
.all{
  margin-left: 20px;
}
