body {
    background-image: url('https://images.unsplash.com/photo-1592505654034-1180b5de660e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
  }
      
      .headerr{
          
          text-align: center;
              width: 79%;
          padding:7px 142px;
          background-color: rgb(22, 21, 21);
          float: right;
          margin-top:0% ;
          
      }
      li{
          display: inline-block;
          margin-right: 200px;
      }
a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: blue;
  }
  a:visited{
    color: dark grey;
  }
 
p{
  float: left;
 }
 audio{
     display: inline-block;
     width: 200px;
     
 }
 .bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(22, 21, 21);
  color: white;
  text-align: center;
  padding: 25px;
}
.fa-solid fa-circle-play{
  color: white;
}

